.songs{
    background-color: #D9D9D9;
    padding: 60px 0px 60px 0px;
    flex-wrap: wrap;
}

.container{
    display: flex;
    justify-content: center;
}

#card{
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .songs{
        padding: 20px 0px 40px 0px;
    }
}