header {
  background-color: black;
  display: flex;
  align-items: center;
  height: 100px;
  color: white;
}


.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.content i {
  display: none;
}

.logo svg {
  width: 167px;
  height: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

#navbar {
  display: flex;
  align-items: center;
}

#navbar p {
  margin: 0;
}

.links {
  text-decoration: none;
  color: white;
  background-color: none;
  margin: 0px 15px 0px 15px;
}

.links:hover {
  color: #00a140;
}

@media (max-width: 800px) {
  #navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: black;
    width: 50%;
    height: 90%;
    position: fixed;
    bottom: 0;
    right: 0;
    transition: all .3s ease-in-out;
  }

  #navbar.dis{
    display: none;
  }

  #navbar a {
    font-size: 25px;
    margin-top: 50px;
  }

  .content {
    justify-content: space-between;
  }

  .content i {
    display: block;
    margin-right: 30px;
  }

  .logo {
    margin-left: 30px;
  }

  .bi.bi-list {
    font-size: 35px;
  }
  .bi.bi-x-circle {
    font-size: 35px;
  }
}
